<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>act-macosx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>aft-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>aft-macosx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>agt-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>agt-macosx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>aunit-macosx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test_act-macosx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>test_aft-macosx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test_agt-macosx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA231825178DD1CD0050DE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA3B862317A9333C0042C241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA833E2115A752430044283D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA833E9615A755A50044283D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA833EBB15A75C350044283D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA875B9F15DF1B6C00C5E50B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA875BC915E099D800C5E50B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9795791D9FFFF800094B1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA6CDB115DDB28400F480F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
